@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    height: 100%;
  }
  body {
    @apply bg-surface text-zinc-200 antialiased;
    font-family:
      "Segoe UI Variable",
      "Segoe UI",
      system-ui,
      -apple-system,
      sans-serif;
    overflow: hidden;
  }
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-zinc-700;
    border: 2px solid transparent;
    background-clip: content-box;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
}
